.c-about .c-body {
  padding: 20px 12px;
}
.c-about h5 {
  margin-bottom: 15px;
}
.c-about p {
  margin-bottom: 12px;
}
.c-about h5,
.c-about p {
  color: #666;
}
.c-about img {
  width: 50%;
  max-width: 150px;
}
