.m-dialog {
  position: relative;
  height: 100%;
}
.m-dialog .title {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
.m-dialog .body {
  padding: 15px;
  text-align: center;
}
.m-dialog .footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #e9e9e9;
}
.m-dialog .footer button {
  line-height: 50px;
  text-align: center;
  color: #4285f2;
}
.m-dialog .footer .line {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 50px;
  background: #e9e9e9;
}
