.c-filter {
  padding-top: 45px;
}
.c-filter .hdr {
  width: 100%;
  height: 45px;
  line-height: 45px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1;
}
.c-filter .hdr i {
  position: absolute;
  left: 15px;
  top: 0;
}
.c-filter h5 {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 15px 10px;
}
.c-filter .f-type {
  margin: 0 15px;
}
.c-filter .f-type li {
  float: left;
  min-width: 25%;
  line-height: 32px;
  text-align: center;
  position: relative;
}
.c-filter .f-type li span {
  display: block;
  border: 1px solid #e9e9e9;
  margin: 0 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  padding: 0 3px;
}
.c-filter .f-type li .unfolder {
  position: absolute;
  top: 16px;
  right: 26px;
  width: 6px;
  height: 4px;
  display: inline-block;
  background: url(/static/image/unfolder.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}
.c-filter .f-type li .unfolder.fd {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.c-filter li.selected span {
  background: #1970e3;
  color: #fff;
  border: 1px solid #1970e3;
}
